@font-face{
    font-family: 'catamaran';
    src: url('/asstets/fonts/catamaran/static/Catamaran-Medium.ttf');
}
@font-face{
    font-family: 'lato';
    src: url('/asstets/fonts/lato/Lato-Regular.ttf');
}
@font-face{
    font-family: 'mulish';
    src: url('/asstets/fonts/muli/static/Mulish-Medium.ttf');
}

* {
    box-sizing: border-box;
}

body{
    margin: 0;
}


/*Navbar*/
.nav,.main__top {
    background-image: url('/asstets/img/img/bg-pattern.png'), linear-gradient(-90deg, #b613b6 0%, #FF11DD); /* Ez lesz majd a háttere a felső résznek */
    background-repeat: repeat;
}

.title {
    color: #dab617;
    font-family: 'catamaran';
}

.title:hover {
    color: #FFF;
}

.navbar-light .nav-item .nav-link {
    color: #FFF;
    font-family: 'lato';
}


/*Main top*/
.main__content{
    color:#FFD;
    font-size: 2.3rem;
    font-weight: 400;
}

.btn.btn-outline-light.mt-4{
    border-radius: 1.2rem;
    width: 70%;
}

.btn.btn-outline-light.mt-4:hover {
    background-color: #fdcc52;
}
 

.phone--img {
    width: 250px;
    position: relative;
}

@media screen and (max-width: 1200px){
    .phone__inside--img {
        width: 220px;
        position: absolute;
        top:60px;
        right:50px;
    }
}

@media screen and (max-width: 992px){
    .phone__inside--img {
        width: 220px;
        position: absolute;
        top:60px;
        right:-10px
    }
}

@media screen and (max-width: 768px){
    .phone__inside--img {
        width: 220px;
        position: absolute;
        top:60px;
        right:160px
    }
}

@media screen and (max-width: 575px){
    .phone__inside--img {
        width: 220px;
        position: absolute;
        top:55px;
        right:170px
    }
}


/*Main mid*/
.main__mid {
    background-color:#fdcc52;
}

.google-play {
    width: 135px;
}

/*Main mid 2*/
.phone--img2 {
    width: 250px;
    position: relative;
}

@media screen and (max-width:1200px){
    .phone__inside--img2 {
        width: 220px;
        position: absolute;
        top:60px;
        left:30px
    }
}

@media screen and (max-width:992px){
    .phone__inside--img2 {
        width: 220px;
        position: absolute;
        top:60px;
        left:30px
    }
}

@media screen and (max-width:768px){
    .phone__inside--img2 {
        width: 220px;
        position: absolute;
        top:60px;
        left:30px
    }
}

@media screen and (max-width:575px){
    .phone__inside--img2 {
        width: 220px;
        position: absolute;
        top:55px;
        left:30px
    }
}

.card-header {
    background-image: linear-gradient(90deg, #da1515 0%, #a00b8a);
    height: 4rem;
}

/*Main mid 3*/
.main__mid--three {
    background-image: url('/asstets/img/img/bg-cta.jpg');
    background-repeat: no-repeat;
    z-index: -1;
    height: 100%;
    background-position: center;
    background-size: cover;
}

.btn, .btn-outline-light {
    border-radius: 1.2rem;
    width: 30%;
}

@media screen and (max-width: 992px) {
    .btn, .btn-outline-light {
        border-radius: 1rem;
        width: 40%;
    }
}

@media screen and (max-width: 768px) {
    .btn, .btn-outline-light {
        border-radius: 1rem;
        width: 50%;
    }
}

.btn.btn-outline-light:hover {
    background-color: #fdcc52;
    border: 1px solid#fdcc52;;
}


/*Main footer*/
.main__footer {
    background-color: #fdcc52;
}

.fa-facebook {
    color: rgba(12, 22, 247, .9)
}

.fa-facebook:hover {
    color: rgba(12, 22, 247, 1)
}

.fa-google-plus {
    color:rgba(255, 33, 12, .9)
}

.fa-google-plus:hover {
    color:rgba(255, 33, 12, 1)
}

.fa-twitter-square {
    color:rgba(13, 180, 202, 0.9)
}

.fa-twitter-square:hover {
    color:rgba(13, 180, 202, 1)
}

/*Footer*/
.footer {
    background-color: #333;
}

.footer__tittle {
    color: #AAA;
    font-size: .8rem;
}

.footer__link{
    color:#AAA;
    font-size: .7rem;
}

.footer__link:hover {
    color: #fdcc52;
}